/* Styles for profile picture */
.profile-pic {
  padding: 10px;
  text-align: center;
}
.profile-pic img {
  width: 256px;
}

/* Styles for projects */
.project {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

/* Styles for background sections */
.education, .experience, .about-me, .why-epicodus, .interests {
  border-style: solid;
  border-width: 2px;
  float: left;
  padding: 10px;
  width: 30%
}

.education .degree {
  font-style: italic;
}

.job td {
  padding-left: 10px;
}

li {
  margin-left: -10px;
}
